application/key.json
*.json
venv/
/__pycache__/
*.pyc
virtualenv/
env/
*.db
errorlog.txt
.idea/
.idea
application/test.py
test.py
application/traders/log/log.csv
log.csv
application/traders/log/log.json
log.json
