alpaca-trade-api==0.41
asyncio-nats-client==0.10.0
certifi==2024.7.4
chardet==3.0.4
idna==3.7
numpy==1.22.0
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.32.0
six==1.13.0
urllib3==1.26.19
websocket-client==0.56.0
websockets==9.1
cira-classic
